In [1]:
# !pip install cassandra-driver

# Connect to Cassandra and Create Keyspace & Table

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

# Optional: If your Cassandra requires authentication
# auth_provider = PlainTextAuthProvider(username='cassandra', password='cassandra')
# cluster = Cluster(['127.0.0.1'], auth_provider=auth_provider)

# For default local setup
cluster = Cluster(['127.0.0.1'])  # Replace with your IP
session = cluster.connect()

print("Connected to Cassandra!")

Connected to Cassandra!

# Create Keyspace and Table

In [3]:
import uuid

# Create keyspace
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS college
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1}
""")

# Use keyspace
session.set_keyspace('college')

# Create student table
session.execute("""
    CREATE TABLE IF NOT EXISTS student (
        student_id UUID PRIMARY KEY,
        name TEXT,
        email TEXT,
        mobile TEXT,
        photo TEXT
    )
""")

print("Keyspace and table created successfully!")

Keyspace and table created successfully!

# Insert data in the table

In [4]:
# List of 10 realistic student records
students = [
    ("Aarav Sharma",     "aarav.sharma@example.com",    "+919876543210", "/photos/aarav.jpg"),
    ("Isha Patel",       "isha.patel@example.com",      "+919812345678", "/photos/isha.jpg"),
    ("Rahul Mehta",      "rahul.mehta@example.com",     "+918765432198", "/photos/rahul.jpg"),
    ("Sneha Reddy",      "sneha.reddy@example.com",     "+917894561230", "/photos/sneha.jpg"),
    ("Vivaan Singh",     "vivaan.singh@example.com",    "+916789012345", "/photos/vivaan.jpg"),
    ("Ananya Desai",     "ananya.desai@example.com",    "+918901234567", "/photos/ananya.jpg"),
    ("Kunal Verma",      "kunal.verma@example.com",     "+917856341290", "/photos/kunal.jpg"),
    ("Pooja Joshi",      "pooja.joshi@example.com",     "+919067854321", "/photos/pooja.jpg"),
    ("Rohan Gupta",      "rohan.gupta@example.com",     "+918765120934", "/photos/rohan.jpg"),
    ("Meera Nair",       "meera.nair@example.com",      "+919098765432", "/photos/meera.jpg")
]

# Insert into table
insert_query = session.prepare("""
    INSERT INTO student (student_id, name, email, mobile, photo)
    VALUES (?, ?, ?, ?, ?)
""")

for name, email, mobile, photo in students:
    session.execute(insert_query, (uuid.uuid4(), name, email, mobile, photo))

print("✅ 10 student records inserted successfully.")

✅ 10 student records inserted successfully.

# Retrieve data from table

In [5]:
rows = session.execute("SELECT * FROM student LIMIT 10")
for row in rows:
    print("Student ID",row.student_id)
    print("Name:",row.name)
    print("Email:",row.email)
    print("Mobile:",row.mobile)
    print("Photo:",row.photo)
    print("------"*20)

Student ID b6224bdb-5a17-4849-adbb-5b8bda58ad55
Name: Ananya Desai
Email: ananya.desai@example.com
Mobile: +918901234567
Photo: /photos/ananya.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 34d8b41c-d782-4d31-9104-e682910a4edd
Name: Rahul Mehta
Email: rahul.mehta@example.com
Mobile: +918765432198
Photo: /photos/rahul.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 7016c976-5a2a-4678-9c33-4b415eaa31e8
Name: Isha Patel
Email: isha.patel@example.com
Mobile: +919812345678
Photo: /photos/isha.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 5560a525-934c-4d02-8dd7-04f7b2f1c967
Name: Vivaan Singh
Email: vivaan.singh@example.com
Mobile: +916789012345
Photo: /photos/vivaan.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 8ef6ae99-e2f5-4d84-848d-faf8a347917e
Name: Sneha Reddy
Email: sneha.reddy@example.com
Mobile: +917894561230
Photo: /photos/sneha.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID c51d4b09-d7b9-4976-9ade-5b3b958574a3
Name: Isha Patel
Email: isha.patel@example.com
Mobile: +919812345678
Photo: /photos/isha.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 8e7997f0-c70e-4fee-9041-fa9da50d3b1f
Name: Rahul Mehta
Email: rahul.mehta@example.com
Mobile: +918765432198
Photo: /photos/rahul.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 0db65403-260f-4948-b019-558425710f63
Name: Kunal Verma
Email: kunal.verma@example.com
Mobile: +917856341290
Photo: /photos/kunal.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 3e23429a-1a37-4bf1-b693-98e9335f1e19
Name: Kunal Verma
Email: kunal.verma@example.com
Mobile: +917856341290
Photo: /photos/kunal.jpg
------------------------------------------------------------------------------------------------------------------------
Student ID 966c6569-42be-4cfe-8fb3-e4f1f6c99d26
Name: Aarav Sharma
Email: aarav.sharma@example.com
Mobile: +919876543210
Photo: /photos/aarav.jpg
------------------------------------------------------------------------------------------------------------------------